<div class="container center">
  <p>Individual search results show here</p>
  <%= @resto.name %>

  <button type="button" class="btn" name="button">test</button>
<h1>that one</h1>
  <ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
    <li>four</li>
  </ul>

  <div class="testfontcolumn">
    <h1>THIS ONE</h1>

  </div>
</div>
