<footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">
                  FoodSpace, the new app for resturant owners and customers alike, vote for your favourite dish and you might just be
                  able to get some discounts!
                </p>
              </div>
              <div class="col s1">
              </div>

              <div class="col s3">
                <h5 class="white-text">Location Details</h5>
                <p class="grey-text text-lighten-4">
                <div class="row">
                  <p>
                    100 Food Avenue
                    Singapore 999999

                  </p>
                  1-800-LOVE-FOOD
                </div>
                </p>
              </div>
              <div class="col s2">
                <h5 class="white-text">Social</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/">facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://instagram.com/">instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/">twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 FoodSpace
            </div>
          </div>
        </footer>
