<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>

<% @bookings.each do |booking| %>
<li><%= booking.time %>
<%= link_to "Delete",customer_booking_path(current_customer, booking),  class:"btn", method: :delete, remote:true %>
</li>
hihi1

<% end %>
