<div class="container">


<h1>Current Bookings</h1>
<% @bookings.each do |booking| %>
<li><%= booking.time %>, Comments: <%= booking.comments %>
<%= link_to "Delete",customer_booking_path(current_customer, booking),  class:"btn", method: :delete, remote:true %>
</li>
<br>

<% end %>
</div>
