<div class="mainHeader">
  <%= render "partials/searchbar"%>
</div>
<div class="container">
  <div class="collection"id="resultList" >

  </div>

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://www.google.com.sg/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjikprMwb3XAhULNY8KHeCEClEQjRwIBw&url=http%3A%2F%2Fhotthemeparks.blogspot.com%2F2012%2F12%2Fresort-world-sentosa-rws-singapore.html&psig=AOvVaw2DRieXev88wHaxpZ4sSppj&ust=1510729872444086"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

<%
=begin %>
<% if @dishes.count < 10 %>
<% @dishes.each do |dish| %>
<li> <%= dish.name %></li>
<% end %>
<% end %>
<%
=end %>


</div>
