 @import "materialize";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
      display: flex !important;
      min-height: 100vh !important;
      flex-direction: column !important;
      font-family: 'Montserrat', sans-serif;
}
main {
      flex: 1 0 auto !important;
}

nav {
  box-shadow: none !important;
}

.chip{
  background-color: rgba(255,255,255,0.5);
  color: black;
}

.btn{
  background-color: black;
}

.mainHeader{
  background-image: image-url("sample3.jpg");
  height: 500px;
  background-position: center;
}

.tabs{
  color: black !important;
  background-color: rgba(255,255,255,0) !important;
}

 .tab a{
   color: black !important;
 }

 .indicator{
   background-color: black !important;
   width: 0px;
 }

.nav-wrapper {
  background-color: white;
  height: 20px;
}

.searchBar {
  color: black;
  background-color: rgba(255,255,255,0.6);
  position: relative;
  top:100px;
  border-radius: 20px;
  padding: 10px;
}

.searchtabs {
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px;
}

.dropdown-content li > a{
  color: black;
}
input[type=text]:not(.browser-default){
  border-bottom: 2px solid black;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 2px solid rgba(174,52,75,1);
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: white;
}
.card-image{
  max-height: 208px !important;
}
.card{
  background-color: black !important;
  color: white !important;
}

.ratingPara{
  color: white !important;
}
// .card-title{
//   color: !important;
// }

.info{
  font-size: 20px;
  font-weight: bold;
}

.restaurantTitle {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.restophoto {
  align-items: center;
  border: 2px solid black;
}
